{% extends 'base.html' %}

{% block main %}
<div class="account-login-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="page-menu">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="account.html">Account</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="area-title">
                    <h3 class="title-group gfont-1">Login</h3>
                    {% for msg in messages %}
                        <span class="msg_err">{{ msg }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="account-create">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="account-create-box">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="single-create">
                                        <p>Email Address <sup></sup></p>
                                        {{ log_form.username }}
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <p class="for-newsletter"><input type="checkbox"/>Sign Up for Newsletter</p>
                                </div>
                            </div>
                        </div>
                        <div class="account-create-box">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="single-create">
                                        <p>Password <sup>*</sup></p>
                                        {{ log_form.password }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit-area">
                            <p class="required text-right">* Required Fields</p>
                            <button type="submit" class="btn btn-primary floatright">login</button>
                            <a href="login.html" class="float-left"><span><i class="fa fa-angle-double-left"></i></span>
                                Back</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="account-create-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="page-menu">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="account.html">Account</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="area-title">
                    <h3 class="title-group gfont-1">Create an Account</h3>
                </div>
            </div>
        </div>
        <div class="account-create">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="account-create-box">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="single-create">
                                        <p>First Name <sup>*</sup></p>
                                        {{ reg_form.first_name }}
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="single-create">
                                        <p>Last Name <sup>*</sup></p>
                                        {{ reg_form.last_name }}
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="single-create">
                                        <p>Email Address <sup>*</sup></p>
                                        {{ reg_form.username }}
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <p class="for-newsletter"><input type="checkbox"/> Sign Up for Newsletter</p>
                                </div>
                            </div>
                        </div>
                        <div class="account-create-box">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="single-create">
                                        <p>Password <sup>*</sup></p>
                                        {{ reg_form.password1 }}
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="single-create">
                                        <p>Confirm Password <sup>*</sup></p>
                                        {{ reg_form.password2 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit-area">
                            <p class="required text-right">* Required Fields</p>
                            <button type="submit" class="btn btn-primary floatright">register</button>
                            <a href="login.html" class="float-left"><span><i class="fa fa-angle-double-left"></i></span>
                                Back</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main %}