{% load static %}
{% load malias_tags %}


<section class="products">
    <div class="pagination">
        <ul class="pagination__list">
            {% if page_obj.has_previous and page_obj.paginator.num_pages > 2 %}
            <li class="link_arrow_left">
                <a href="?{% query_params page=page_obj.previous_page_number %}">
                    <img src="{% static 'img/icons/forward_icon.svg' %}" alt="">
                </a>
            </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
            {% if page == page_obj.number %}
            <li class="link__p">
                <a href="" class="active_page">{{ page }}</a>
            </li>
            {% elif page > page_obj.number|add:-3 and page < page_obj.number|add:+3 %}
            <li class="link__p">
                <a href="?{% query_params page=page %}">{{ page }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next and page_obj.paginator.num_pages > 2 %}
            <li class="link_arrow_right">
                <a href="?{% query_params page=page_obj.next_page_number %}">
                    <img src="{% static 'img/icons/forward_icon.svg' %}" alt="">
                </a>
            </li>
            {% endif %}

        </ul>

    </div>
</section>



