{% load static %}


<div class="brand-logo-area carosel-navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="area-title">
                    <h3 class="title-group border-red gfont-1">Popular Brands</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-brand-logo">
                <div class="col-md-2">
                    <div class="single-brand-logo">
                        <a href="http://127.0.0.1:8000/gadgets/samsung/"><img src="{% static 'img/brand/1.webp' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="single-brand-logo">
                        <a href="http://127.0.0.1:8000/gadgets/lg/"><img src="{% static 'img/brand/2.webp' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="single-brand-logo">
                        <a href="http://127.0.0.1:8000/gadgets/apple/"><img src="{% static 'img/brand/3.webp' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="single-brand-logo">
                        <a href="http://127.0.0.1:8000/gadgets/vivo/"><img src="{% static 'img/brand/4.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="single-brand-logo">
                        <a href="http://127.0.0.1:8000/gadgets/xiaomi/"><img src="{% static 'img/brand/5.webp' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="single-brand-logo">
                        <a href="http://127.0.0.1:8000/gadgets/huawei/"><img src="{% static 'img/brand/6.webp' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="single-brand-logo">
                        <a href="http://127.0.0.1:8000/gadgets/honor/"><img src="{% static 'img/brand/7.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="single-brand-logo">
                        <a href="http://127.0.0.1:8000/gadgets/oppo/"><img src="{% static 'img/brand/8.webp' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="single-brand-logo">
                        <a href="http://127.0.0.1:8000/gadgets/yandex/"><img src="{% static 'img/brand/9.webp' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>