{% load static %}


<div class="copyright-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright &copy; Взято с <a href="http://bayguzin.ru" target="_blank"> bayguzin.ru</a> All
                        rights reserved.</p>
                    <div class="payment">
                        <a href="#"><img src="{% static 'img/payment.png' %}" alt="Payment"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>