<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="footer-title">
                    <h5>My Account</h5>
                </div>
                <nav>
                    <ul class="footer-content">
                        <li><a href="{% url 'profile' %}">My Account</a></li>
                        <li><a href="{% url 'orders' %}">Order History</a></li>
                        <li><a href="{% url 'favourites' %}">Wish List</a></li>
                        <li><a href="#">Search Terms</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="footer-title">
                    <h5>Customer Service</h5>
                </div>
                <nav>
                    <ul class="footer-content">
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 hidden-sm col-md-3">
                <div class="footer-title">
                    <h5>Payment & Shipping</h5>
                </div>
                <nav>
                    <ul class="footer-content">
                        <li><a href="#">Brands</a></li>
                        <li><a href="#">Gift Vouchers</a></li>
                        <li><a href="#">Affiliates</a></li>
                        <li><a href="shop-list.html">Specials</a></li>
                        <li><a href="#">Search Terms</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="footer-title">
                    <h5>Payment & Shipping</h5>
                </div>
                <nav>
                    <ul class="footer-content box-information">
                        <li class="d-flex align-items-center">
                            <i class="fa fa-home"></i><span>Mirzo Ulugbek, Movarounnahr 10</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="fa fa-envelope-o"></i><span>malias@gmail.com</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="fa fa-phone"></i><span>+998 (71) 123-45-67</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>