{% load static %}
{% load humanize %}
{% load malias_tags %}
{% get_products_cart as cart %}

<div class="header-middle">
    <div class="container">
        <div class="support-client hidden-xs">
            <div class="row">
                <div class="col-md-3 hidden-sm">
                    <div class="single-support">
                        <div class="support-content">
                            <i class="fa fa-clock-o"></i>
                            <div class="support-text">
                                <h1 class="zero gfont-1">working time</h1>
                                <p>Mon- Sun: 9:00 - 23:00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="single-support">
                        <i class="fa fa-truck"></i>
                        <div class="support-text">
                            <h1 class="zero gfont-1">Free shipping</h1>
                            <p>On order over $199</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="single-support">
                        <i class="fa fa-money"></i>
                        <div class="support-text">
                            <h1 class="zero gfont-1">Money back 100%</h1>
                            <p>Within 30 Days after delivery</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="single-support">
                        <i class="fa fa-phone-square"></i>
                        <div class="support-text">
                            <h1 class="zero gfont-1">Phone: +998 (71) 123-45-67</h1>
                            <p>Order Online Now !</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="logo">
                    <a href="{% url 'main' %}" title="Malias"><img src="{% static 'img/logo.png' %}" alt="Malias"></a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="quick-access">
                    <div class="search-by-category">
                        <div class="header-search">
                            <form method="get" role="search" action="{% url 'search' %}">
                                <input name="key" type="search" placeholder="Search" aria-label="Search">
                                <button type="submit"><i class="fa fa-search"></i>Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="top-cart">
                        <ul>
                            <li>
                                <a href="{% url 'basket' %}"
                                   class="{% if 'basket' in request.path %} active {% endif %}">
                                    <span class="cart-icon"><i class="fa fa-shopping-cart"></i></span>
                                    <span class="cart-total">
			                    					<span class="cart-title">shopping cart</span>
				                    				<span class="cart-item">{{ cart.cart.get_cart_quantity|default:0 }} item(s) - </span>
				                    				<span class="top-cart-price">${{ cart.cart.cart_total_price|intcomma|default:0 }}</span>
			                    				</span>
                                </a>
                                <div class="mini-cart-content">
                                    {% for p_cart in cart.products_cart %}
                                    <div class="cart-img-details">
                                        <div class="cart-img-photo">
                                            <a href="{{ p_cart.product.get_absolute_url }}"><img
                                                    src="{{ p_cart.product.first_photo }}"
                                                    alt="#"></a>
                                        </div>
                                        <div class="cart-img-content">
                                            <a href="{{ p_cart.product.get_absolute_url }}"><h4>{{ p_cart.product.title }}</h4></a>
                                            <span>
															<strong class="text-right">{{ p_cart.quantity }} x</strong>
															<strong class="cart-price text-right">${{ p_cart.product.get_price|intcomma }}</strong>
														</span>
                                        </div>
                                        <div class="pro-del">
                                            <a href="{% url 'action_cart' p_cart.product.slug 'clear' %}">
                                                <i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="cart-inner-bottom">
													<span class="total">
														Total:
														<span class="amount">${{ cart.cart.cart_total_price|intcomma }}</span>
													</span>
                                        {% if request.resolver_match.url_name != 'basket' %}
                                        <span class="cart-button-top">
														<a href="{% url 'basket' %}">View Cart</a>
													</span>
                                        {% else %}
                                        <div class="gadget-features"></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>