<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mainmenu hidden-sm hidden-xs">
                    <nav>
                        <ul>
                            <li><a href="{% url 'main' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li class="hot"><a href="{% url 'sales' %}">Bestseller Products</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>